@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body{
    background: #ececff;
    padding-top: 4vh;

    h1, h2, h3, h4, h5, h5{
        font-family: "Barlow";
        margin-bottom: -4.5vh;
    }

    th:nth-child(2), td:nth-child(2){
        width: 320px;
    }

    table{
        padding-left: 16px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-collapse: separate;
        border-spacing: 0px 18px;

        thead{

            tr{
                box-shadow: 4px 4px 12px #acacac;
                border-radius: 16px;

                &:nth-child(1){
                    background: #1e1e1e;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                th{
                    &:first-child{
                        padding: 26px 36px;
                        border-radius: 16px 0px 0px 16px;
                    }
                    &:last-child{
                        padding: 26px 36px;
                        border-radius: 0px 16px 16px 0px;
                    }
                    &:hover{
                        background: inherit;
                        color: inherit;
                    }
                }
            }
        }

        tbody{

            tr{
                box-shadow: 2px 2px 12px #acacac, -2px -2px 12px #ffffff;
                border-radius: 16px;

                &:nth-child(even), &:nth-child(odd){
                    background: #fcfcfc;
                }
                &:nth-child(1){
                    background: #ff8800;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                &:nth-child(2){
                    background: #06a5af;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                &:nth-child(3){
                    background: #0065af;
                    color: #fcfcfc;
                    font-size: 16px;
                }
                &:hover{
                    opacity: 0.8;
                    box-shadow: 5px 5px 12px #acacacaa, -5px -5px 12px #ffffff;
                }

                td{

                    &:first-child{
                        padding: 26px 36px;
                        border-radius: 16px 0px 0px 16px;
                    }
                    &:last-child{
                        padding: 26px 36px;
                        border-radius: 0px 16px 16px 0px;
                    }
                    &:hover{
                        background: inherit;
                        color: inherit;
                    }
                }
            }
        }

    }

}


*{
    transition: 300ms;
}

@media (prefers-color-scheme: dark) {
    :root{
        filter: invert(100%) hue-rotate(180deg);
    }
}